[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"

[scripts]
test = "pytest --cov=testpackage tests --junitxml=junit-reports/TEST-report.xml --cov-report xml:junit-reports/TEST-cov.xml"
lint = "black --check testpackage tests"
lintfix = "black testpackage tests"
